@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap");
* {
  box-sizing: border-box;
  font-family: var(--funte);
}
header,
section {
  overflow-x: hidden;
}
:root {
  --funte: "Montserrat", cursive;
  --light-black: #31469d;
  --bggradient: linear-gradient(to bottom, #dd2476, #ff512f);
  --light-gray: rgba(255, 255, 255, 0.877);
}
