@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap");
* {
  box-sizing: border-box;
  font-family: var(--Montserrat);
}
header,
section {
  overflow-x: hidden;
}
:root {
  --monstse: "Sniglet", cursive;
  --Montserrat: "Montserrat", cursive;
  --Patua: "Patua One", cursive;
  --Lobster: "lobster", cursive;
  --light-black: #2e2c2caf;
  --bggradient: linear-gradient(to bottom, #dd2476, #ff512f);
  --light-gray: rgba(255, 255, 255, 0.877);
}
